@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }

  .primary-link {
    --tw-text-opacity: 1;
    color: rgba(189, 195, 199, var(--tw-text-opacity)) !important;
  }

  .primary-link:hover {
    --tw-text-opacity: 1;
    color: rgba(1, 100, 199, var(--tw-text-opacity)) !important;
  }

  .visited-link {
    --tw-text-opacity: 1;
    color: rgba(1, 100, 199, var(--tw-text-opacity)) !important;
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    html {
      @apply bg-gray-50;
    }
    a {
      @apply primary-link text-blue-600 hover:text-blue-800 visited:text-blue-400
   }
  }

  .housal-button {
    background: rgb(0, 31, 63);
  }

  .housal-button:hover {
    background: rgb(1, 100, 199) !important;
  }

  .header-bg-1 {
    background-image:url("../public/hero-bg-2.png"); 
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 10vh;
  }

  .header-bg-2 {
    background-image:  url("../public/hero-bg-2.png");
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 40vh;
  }



  .cta {
    color: #333333
  }

  .box-check {
    border: solid 1px red;
  }

  .main-bg {
    background-image: url("../public/background.png"); 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100vh;
    animation: slideLeft infinite linear 20s; /* Adjust animation duration as needed */
  }
  
  @keyframes slideLeft {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .building-bg {
    background-image: url("../public/building.png"); 
    background-repeat: repeat-x; /* Repeat the image only horizontally */
    background-position: center top;
    object-fit: cover;
    animation: slideHorizontal infinite linear 120s; /* Adjust animation duration as needed */
  }
  
  @keyframes slideHorizontal {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .footer {
    background-color:#001F3F;
  }

  .footer-building-bg {
    background-image: url("../public/footer-bldg.png"); 
    background-repeat: repeat-x; /* Repeat the image only horizontally */
    background-position: center bottom;
    object-fit: cover;
  }